[submodule "vendor/openssl"]
	path = vendor/openssl
	url = https://github.com/openssl/openssl
[submodule "vendor/cppzmq"]
	path = vendor/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "vendor/flatbuffers"]
	path = vendor/flatbuffers
	url = https://github.com/google/flatbuffers.git
